.vscode/**
.vscode-test/**
.gitignore
src/**
out/**
node_modules/**
tsconfig.json
webpack.config.js
.eslintrc.json
resources/logo.svg
resources/icon_instructions.md
PUBLISHING.md
.github/**
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.*.json
contributing.md
.travis.yml
.git
.editorconfig
.eslintignore
